
services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: abdourahman2026
      MYSQL_DATABASE: books_librerie_web
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  server:
    build: ./server
    container_name: server
    restart: always
    env_file:
      - ./server/.env
    depends_on:
      - mysql
    ports:
      - "5000:5000"
      

  client:
    build: ./client
    container_name: client
    restart: always
    depends_on:
      - server
    ports:
      - "5173:5173"

volumes:
  mysql_data:
